/* FONTFACE */
@font-face {
  font-family: menu;
  src: url(fonte/Irish_Grover/IrishGrover-Regular.woff);
}

/* body {
  background-color: rgb(202, 202, 202);
} */

main {
  overflow-wrap: break-word;
  hyphens: auto;
}

.hamburger.active .burgerbar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .burgerbar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .burgerbar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* font-family: 'Inria Sans', sans-serif;
font-family: 'Inter', sans-serif; */

/* HEADER */
.top_container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.portlogo {
  grid-column: 1/5;
  z-index: 10;
  padding: 2%;
}

.menu {
  grid-column: 2/8;
  /* grid-row: 2; */
}

.menuparent a {
  text-decoration: none;
}
.menuparent a:visited {
  text-decoration: none;
  color: #2d3691;
}

.menuparent a:hover {
  color: #22c900;
}

a:visited {
  color: #81b3df;
}

.profile {
  max-width: 30px;
}

.burgerbar {
  display: block;
  width: 30px;
  height: 3.5px;
  margin-bottom: 5px;
  background-color: #22c900;
  border-radius: 3px;
}

.icon_container {
  grid-column: 7;
  grid-row: 1;
  margin-right: 30%;
  margin-top: 30%;
}

.hamburger,
.profile {
  margin-top: 40%;
}

/* MAIN */

.grid_container h2:hover {
  background-color: #85afe9;
  color: #2f3ec1;
}

.projects_container p {
  padding: 2%;
  display: block;
}

.name_side {
  transform: rotate(90deg);
  color: #2bff00;
  z-index: 10;
  position: fixed;
  right: 2%;
  top: 90%;
  transform-origin: right;
  /* filter: drop-shadow(1px 1px 5px #e4ffde); */
}

p {
  font-family: "Inria Sans", sans-serif;
}

.galleri {
  font-family: "Inria Sans", sans-serif;
  margin: 45px;
  margin-top: 0;
  margin-left: 10%;
  margin-right: 10%;
}

h2 {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  padding-bottom: 4%;
  padding-top: 4%;
}

.grid_container {
  margin-top: 7%;
  place-items: center;
  position: relative;
}

.grid_container img {
  opacity: 70%;
}

.grid_container h2 {
  /* display: block; */
  font-size: 1.5rem;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #aec6e7;
  padding: 2%;
  padding-left: 6%;
  padding-right: 6%;
  text-transform: uppercase;
  font-family: menu;
  color: #2d3691;
  border-radius: 10px;
}

.gallerip {
  display: flex;
  justify-content: center;
  max-width: 700px;
}

.galleri_grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  margin: auto;
}

h3 {
  font-family: "Inria Sans", sans-serif;
  text-transform: uppercase;
  color: #dddfff;
  padding: 10px;
  margin: 20px;
  background-color: #85afe9;
}

.booking_form {
  background-color: #a7cbff;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

input,
textarea {
  background-color: #c1dbff;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  padding-left: 15px;
  color: #2f3ec1;
  border: none;
  height: 50px;
  margin: 15px;
  border-radius: 10px;
}

textarea {
  padding-top: 15px;
}

button {
  display: block;
  font-family: "Inria Sans", sans-serif;
  text-transform: uppercase;
  width: 30%;
  height: 5%;
  transform: translateX(110%);
  margin: 30px;
  margin-left: 0;
  margin-right: 0;
  color: #c2e0ad;
  border-radius: 4px;
  border: hsl(114, 100%, 72%) solid 2px;
  padding: 2%;
  background-color: #ecffeb;
}
button:hover {
  background-color: #c1ffae;
  color: hsl(100, 100%, 43%);
}

.text_on_pic h3 {
  position: relative;
  font-family: menu;
  font-weight: 800;
  z-index: 30;
  text-align: center;
  transform: translate(-38%, 378%);
  background-color: #b3cbed;
  width: 80%;
}
.text_on_pic a {
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}

.picture_text img {
  max-width: 500px;
  padding: 13%;
  padding-top: 2%;
  padding-bottom: 6%;
}

.text_on_pic h3:hover {
  background-color: #b3cbed;
  width: 70%;
}

/* PROJEKTER */

.projekt_container {
  display: flex;
  flex-direction: column;
  background-color: #dbe3ff;
}

iframe {
  display: none;
  background-image: url(billeder/DSBHappens.webp);
  width: 200px;
  height: 100px;
  grid-column: 3;
  grid-row: 1;
}

.widepic {
  margin: 5%;
}

/* .tema {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  grid-template-rows: 1fr;
}
.tema h3 {
  grid-column: 1/5;
  grid-row: 1;
}

.tema1 h3 {
  grid-column: 1/5;
  grid-row: 2;
}

.tema2,
.tema3,
.tema4 {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 2fr 2fr 2fr;
}

.projekt_container h3 {
  font-family: menu;
  color: #2d3691;
  text-align: left;
  padding-bottom: 1%;
  margin-top: 1%;
  grid-column: 1/5;
  grid-row: 1;
}

.pic {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 1rem;
}

.pic img:first-child {
  grid-column: 1/3;
  grid-row: 1/3;
  max-width: 40%;
  max-height: 100%;
  margin: 8%;
  margin-top: 0;
  margin-right: 5%;
}

.pic p {
  grid-column: 2/4;
  grid-row: 1;
  margin-top: 1rem;
}

.pic p:last-child {
  grid-column: 2/4;
  grid-row: 2;
}

.tema1 img:last-child {
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
}

h6 {
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.tema p,
h6 {
  margin: 6%;
  margin-top: 25%;
  grid-column: 1/4;
  grid-row: 1;
  padding-left: 7%;
  font-size: 0.8rem;
} */

.tema a {
  display: flex;
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  min-width: 200px;
  text-decoration: none;
  color: #96b7f3;
  padding-right: 3%;
  grid-column: 4;
  grid-row: 1;
}

.tema a:hover {
  color: #ffffff;
}

.tema a:hover {
  transform: translate(-3%, 3%);
}
.tema1 li,
.tema2 li,
.tema3 li,
.tema4 li {
  color: #a0b1ff;
  margin: 2%;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  align-items: center;
}

.tema1 a,
.tema2 a,
.tema3 a,
.tema4 a {
  font-family: "Inter", sans-serif;
  text-transform: lowercase;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  width: 158px;
  margin-left: 20px;
  align-items: center;
}

.tema1 ul,
.tema3 ul,
.tema2 ul,
.tema4 ul {
  display: flex;
  justify-content: left;
  align-items: center;
  list-style: none;
  width: 315px;
  max-height: 20px;
}

.tema1 a:hover,
.tema2 a:hover,
.tema3 a:hover,
.tema4 a:hover {
  color: #1745a7;
  align-items: center;
}

.tema2 img:nth-child(2) {
  grid-column: 4;
  grid-row: 1/2;
  margin-top: 16%;
  margin-left: 18%;
}

.dsb {
  max-width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
.tema p,
h3,
.widepic {
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
}

/* OMMIG */

.portrait_container {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr;
  grid-template-rows: repeat(6, 1fr);
}

.portrait_container h2 {
  grid-column: 2/5;
  grid-row: 1;
}
.portrait_container p {
  padding-top: 0;
  grid-column: 2/5;
  grid-row: 2;
  color: #2d3691;
  text-align: right;
  font-size: 0.8rem;
  padding-right: 5%;
  padding-left: 18%;
}

.portrait_container p:nth-of-type(2) {
  grid-column: 2/5;
  grid-row: 3;
}

.portrait_container p:nth-of-type(3) {
  grid-column: 2/5;
  grid-row: 4;
}

.portrait_container:nth-child(4) {
  grid-row: 1;
}

.portrait_container img {
  grid-column: 1/3;
  grid-row: 1/7;
  transform: scaleX(-1);
}

.portrait_parent p {
  text-align: center;
  font-size: 0.8rem;
}

.portrait_parent h2 {
  font-family: menu;
  padding-bottom: 1%;
  color: #22c900;
}

.portrait_parent {
  background-color: #afd1fe;
}

h4 {
  font-family: "Intria Sans", sans-serif;
  font-weight: 400;
  margin-top: 15%;
  margin-left: 7%;
  text-align: left;
  color: #2f3ec1;
  width: 280px;
}
h4::first-letter {
  /* font-family: menu; */
  font-size: 1.3rem;
  margin-right: 1px;
}

.cv_child p,
.cv_child2 p,
.cv_child3 p {
  margin: 8%;
  margin-left: 8%;
  margin-bottom: 0;
}

.cv_child p {
  grid-column: 1/3;
  text-align: left;
}
.cv_child p:first-child {
  grid-row: 1;
}
.cv_child p:last-child {
  grid-row: 2;
}
.cv_child {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 10%;
}

.adobe {
  grid-column: 3/4;
  grid-row: 1/3;
  max-width: 110px;
  max-height: 120px;
  margin-left: 8%;
  margin-top: 10%;
}

.cv_child2 {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 3%;
}
.cv_child2 p {
  text-align: right;
  grid-row: 2;
  grid-column: 2/4;
  margin-left: 20%;
}
.cv_child2 p:first-child {
  grid-row: 1;
  margin-left: 20%;
}
.cv_child2 p:last-child {
  grid-row: 2;
  margin-left: 5%;
}
.cv_child2 img:nth-child(2) {
  grid-column: 1;
  grid-row: 1;
  margin-top: 16%;
  margin-left: 18%;
}
.cv_child2 img:last-child {
  grid-column: 1;
  grid-row: 2;
  margin-top: 16%;
  margin-left: 18%;
}

.cv_child3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px 110px 2fr;
}
.cv_child3 p:first-child {
  grid-column: 1/4;
  grid-row: 1;
  margin-top: 3%;
  text-align: left;
}
.cv_child3 p:nth-child(2) {
  grid-column: 1/4;
  grid-row: 2;
  margin-top: 2%;
  text-align: left;
}
.cv_child3 img:last-child {
  grid-column: 2;
  grid-row: 3;
  margin-bottom: 14%;
  margin-top: 8%;
  width: 360px;
}

/* FOOTER */
.some {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 8%;
  padding-left: 35%;
  padding-right: 35%;
  margin-top: 130px;
  padding-bottom: 60px;
}
.some img {
  max-width: 40px;
}

.insta {
  grid-column: 1;
}

.linkedin {
  grid-column: 2;
}

.name {
  display: flex;
  color: #22c900;
  font-size: 0.8rem;
  margin-top: 25px;
  justify-content: center;
  padding-bottom: 6%;
}
